<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/index.css" />
</head>
<body>
<div class="container">
    @RenderBody()
</div>
</body>
</html>